@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');

@font-face {
    font-family: shabnam;
    src: url('font/shabnam.ttf');
}
html,body{
    width: 100%;
    height: 100%;
    /*direction: rtl;*/
}
body {
    margin: 0;
    padding: 0;
    background-color: #2d3436;
    /*direction: rtl;*/
    font-family: shabnam;
    display: flex;
    flex-direction: column;
}

a {
    font-size: 12px;
    color: white;
}

.container-animate-login {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container-animate-login a {
    text-decoration: none;
}
.container-animate-login p{
    font-size: 8px;
    text-align: center;
    color: wheat;
    letter-spacing:0px;
}
.policy-animate-login-signup p{
    font-size: 8px;
    text-align: center;
    color: wheat;
    letter-spacing:0;
}
.container-animate-login h1 {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 5px;
    color: #2d3436;
    margin-top: 21px;
    font-size: 22px;
}
.container-animate-login h1 .signup-logo {
    font-family: 'Fredoka One', cursive;
    letter-spacing: 5px;
    color: #2d3436;
    margin-top: 80px;
    font-size: 22px;
}
.container-animate-login h1 span {
    display: table-cell;
    margin: 0;
    padding: 0;
    font-size: 40px;
    /*animation-iteration-count: 1;*/
}

.container-animate-login h1 span:nth-child(1) {
    animation: 5s linear 0s 1 animate, 2.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5s infinite animate;
}

.container-animate-login h1 span:nth-child(2) {
    animation: 5s linear 0.5s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5s infinite animate;
}

.container-animate-login h1 span:nth-child(3) {
    animation: 5s linear 1s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5s infinite animate;
}

.container-animate-login h1 span:nth-child(4) {
    animation: 5s linear 1.5s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}

.container-animate-login h1 span:nth-child(5) {
    animation: 5s linear 2s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}

.container-animate-login h1 span:nth-child(6) {
    animation: 5s linear 2.5s 1 animate, 3.5s linear 5s 1 animate2,1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}

.container-animate-login h1 span:nth-child(7) {
    animation: 5s linear 3s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}

.container-animate-login h1 span:nth-child(8) {
    animation: 5s linear 3.5s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}
.container-animate-login h1 span:nth-child(9) {
    animation: 5s linear 4s 1 animate, 3.5s linear 5s 1 animate2, 1ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}
.container-animate-login h1 span:nth-child(10) {
    animation: 5s linear 4.5s 1 animate, 3.5s linear 5s 1 animate2, 1.5ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}
.container-animate-login h1 span:nth-child(11) {
    animation: 5s linear 5s 1 animate, 3.5s linear 5s 1 animate2, 1.5ms linear  4.5s 1 animate3, 10s linear 5.5s infinite animate;
}

@keyframes animate {
    0%,100% {
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 2.5px #00b3ff,
        0 0 5px #00b3ff,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 30px #00b3ff,
        0 0 50px #00b3ff,
        0 0 75px #00b3ff,
        0 0 100px #00b3ff;
    }
}
@keyframes animate3 {
    0%{
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 3px #94caff,
        0 0 3px #94caff,
        0 0 5px #94caff,
        0 0 11px #94caff,
        0 0 16px #94caff,
        0 0 25px #94caff,
        0 0 38px #94caff,
        0 0 50px #94caff;
    }

    100%{
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 2.5px #00b3ff,
        0 0 5px #00b3ff,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 30px #00b3ff,
        0 0 50px #00b3ff,
        0 0 75px #00b3ff,
        0 0 100px #00b3ff;
    }

}

@keyframes animate2 {

    0%{
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 2.5px #00b3ff,
        0 0 5px #00b3ff,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 30px #00b3ff,
        0 0 50px #00b3ff,
        0 0 75px #00b3ff,
        0 0 100px #00b3ff;
    }
    100% {
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 3px #94caff,
        0 0 12px #94caff,
        0 0 22px #94caff,
        0 0 42px #94caff,
        0 0 62px #94caff,
        0 0 102px #94caff,
        0 0 152px #94caff,
        0 0 202px #94caff;
    }


}
@keyframes animate4 {
    0%,100%{
        color: #fff;
        filter: blur(0px);
        text-shadow: 0 0 2.5px #00b3ff,
        0 0 5px #00b3ff,
        0 0 10px #00b3ff,
        0 0 20px #00b3ff,
        0 0 30px #00b3ff,
        0 0 50px #00b3ff,
        0 0 75px #00b3ff,
        0 0 100px #00b3ff;

    }

}
.main-animate-login {
    width: 40%;
    background: rgb(45, 52, 54);
    background: linear-gradient(45deg, rgba(45, 52, 54, 1) 0%, rgba(99, 110, 114, 1) 79%);
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
}

.main-animate-login h2 {
    color: white;
    font-weight: 500;
    position: relative;
    font-size: 18px;
}
::placeholder {
    color: white;
    opacity: 0.8;
    font-family: shabnam;
}

.main-animate-login input[type="text"], .main-animate-login input[type="password"], .main-animate-login input[type="email"]  {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 1px solid #00b894;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    border-radius: 24px;
    transition: 400ms;
    font-family: shabnam;
    color: white;
}

.main-animate-login input[type="text"]:focus, .main-animate-login input[type="password"]:focus, .main-animate-login input[type="email"]:focus {
    width: 70%;
    border-color: #0984e3;
}

.main-animate-login input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #0984e3;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 300ms;
    /*cursor: pointer;*/
    font-family: shabnam;
}

.main-animate-login input[type="submit"]:focus {
    background-color: #0984e3;
}

.main-animate-login input[type="submit"]:hover {
    background-color: #0984e3;
}

.policy-animate-login-signup {
    margin-top: auto;
}

/*----------------------responsive-----------------------*/
/*--for mobile--*/
@media only screen and (max-width: 575px) {
    .container-animate-login p{
        font-size: 8px;
        text-align: center;
        color: wheat;
        letter-spacing:0px;
    }
    .policy-animate-login-signup p{
        font-size: 8px;
        text-align: center;
        color: wheat;
        letter-spacing:0;
    }
    .container-animate-login h1 {
        font-family: 'Fredoka One', cursive;
        letter-spacing: 5px;
        color: #2d3436;
        margin-top: 72px;
        font-size: 22px;
    }
    .main-animate-login {
        width: 70%;
    }

    .main-animate-login input[type="text"]:focus, .main-animate-login input[type="password"]:focus ,.main-animate-login input[type="email"]:focus {
        width: 90%;
        border-color: #0984e3;
    }
    .main-animate-login input[type="submit"]:focus {
        background-color: #0984e3;
    }
}

@media only screen and (max-width: 767px) and (min-width: 576px ) {
    .main-animate-login {
        width: 70%;
    }

    .main-animate-login input[type="text"]:focus, .main-animate-login input[type="password"]:focus {
        width: 90%;
        border-color: #0984e3;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px  ) {
    .main-animate-login {
        width: 70%;
    }

    .main-animate-login input[type="text"]:focus, .main-animate-login input[type="password"]:focus {
        width: 90%;
        border-color: #0984e3;
    }
}
/*-----------------------endaccountlogin--------------*/
