body {
    margin: 0;
    padding: 0;
    direction: rtl;
    background-color: #2d3436;
    font-family: shabnam;
    box-sizing: border-box;
}

.driver-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profile{
    width: 70%;
    display: flex;justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    border-bottom: 2px solid seashell;
    padding-bottom: 5px;
}
.profile img {
    width: 50px;
    height: 50px;
    margin-left: 5px;
}
.acc{
    display: flex;
    flex-direction: row;
}
.acc p {
    color: white;
}
.acc a {
    color: white;
    transition: 100ms;
    text-decoration: none;
}
.acc a:hover {
    color:  #00b894;
}
.money{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.money p {
    margin-left: 5px;
    color: white;
}
/*dashboard*/
.dashboard{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;justify-content: space-between;
    margin-top: 20px;
}
.dash-card{
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #00b894;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 13px -1px rgba(0, 0, 0, 0.75);
}
.dash-top{
    width: 100%;
    background-color: #00b894;
    text-align: center;
    color: white;
}
.dash-bottom {
    width: 100%;
    text-align: center;
    background: linear-gradient(45deg, rgba(45, 52, 54, 1) 0%, rgba(99, 110, 114, 1) 79%);
}
/*vip*/
.vip{
    margin-top: 50px;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.vip img {
    width: 100%;
    border: 2px solid #0984e3;
    border-radius: 10px;

}
.month6{
    width: 48%;


}
.month12{
    width: 48%;

}
.title-vip6 {
    text-align: center;
    /*position: absolute;*/
    /*top: 341px;*/
    /*right: 375px;*/
}
.title-vip12 {
    text-align: center;
    /*position: absolute;*/
    /*top: 341px;*/
    /*left: 368px;*/
}
.title-vip6 h3 {
    background-color: #2d3436;
    padding: 5px;
    color: white;
    border-radius: 20px;
    border: 2px solid #0984e3;
    transition: 100ms;
}

.title-vip6 a, .title-vip12 a {
    text-decoration: none;
}

.title-vip6 h3:hover{
    background-color:  #0984e3;
}

.title-vip12 h3 {
    background-color: #2d3436;
    padding: 5px;
    color: white;
    border-radius: 20px;
    border: 2px solid #0984e3;
    transition: 100ms;
}

.title-vip12 h3:hover{
    background-color: #0984e3;
}

/**/
@media only screen and (max-width: 575px) {
    .profile{
        width: 100%;
    }
   .dashboard{
       flex-wrap: wrap;
       width: 100%;
   }
    .dash-card{
        width: 46%;
        margin-bottom: 10px;
        margin: 0 auto;
        margin-bottom: 0px;
        margin-bottom: 10px;
    }
    .vip {
        width: 100%;
        flex-direction: column;
    }
    .month6 {
        width: 90%;

    }
    .month12{
        width: 90%;
        margin-top: 30px;
    }
    .title-vip6{
        top: 569px;
        right: 105px;
    }
    .title-vip12{
        top: 771px;
        left: 97px;
    }
    .exit-res{
        
    }

    }

    /* pagination */

    .pagination {
        width: 100%;
        height: 100px;
        line-height: 100px;
        text-align: center;
    }

    .pagination a{
        padding: 5px 8px;
        margin: 2px;
        text-decoration: none;
        border-radius: 4px;
        background-color: #00b894;
        color: white;
        transition: 200ms;
    }

    .pagination a:hover{
        padding: 5px 8px;
        margin: 2px;
        text-decoration: none;
        border-radius: 4px;
        background-color: #fff;
        color: #00b894;
    }
    .pagination a.active{

        background-color: #fff;
        color: #00b894;

    }

    .remain{
        width: 100%;
        /*text-align: center;*/
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .remain p{
        background-color: crimson;
        padding: 5px 15px 5px 15px;
        border-radius: 10px 2px 10px 2px;
    }
.exit-res{
    border: 2px solid #4e4e4e;
    margin-right: 3px;
    border-radius: 4px;
    padding: 3px;
    transition: 500ms;
}
.exit-res:hover{
    border: 2px solid white;
}
.exit-res a:hover{
    color: white;

}
.d-name{
   border: 2px solid #4e4e4e;
    border-radius: 4px;
    padding: 3px;
    transition: 500ms;
}
.d-name:hover{
    border: 2px solid white;

}